* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: serif;
}
.entries {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.table-container {
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
}

ul.entry-meta {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.entry-meta li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.entry-meta li:not(:last-child)::after {
    content: "|";
    padding-right: 3pt;
    padding-left: 3pt;
}
time {
    white-space: nowrap;
}
@media (max-width: 768px) {
    .entry-meta li {
        display: block;
        margin: 0;
    }
    .entry-meta li:not(:last-child)::after {
        content: none;
        padding-right: none;
        padding-left: none;
    }
}

.input-container {
    background-color: #f2f2f2;
    padding: 10px;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100hh;
    box-sizing: border-box;
}

.form-control {
    padding: 10px;
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.new-entry {
    display: flex;
    flex-direction: column;
    max-width: 90ch;
    margin-left: auto;
    margin-right: auto;
}

.htmx-indicator {
    width: 2em;
    height: 2em;
    margin-top: auto;
    margin-bottom: auto;
}

.title-search {
    width: 65%;
    display: flex;
    flex-direction: row;
}

.meta-search-container {
    width: 35%;
    display: flex;
    flex-direction: row;
}
.to-read-states {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.state-checkbox-container {
    flex: 1 1 auto;
    align-items: center;
}

.tags-search {
    width: 55%;
}

@media (max-width: 768px) {
    .input-container {
        width: 100%;
        font-size: 90%;
    }

    .input-container {
        flex-direction: column-reverse;
    }

    .title-search, .to-read-states, .tags-search, .meta-search-container {
        width: 100%;
        box-sizing: border-box;
    }
}

.entry-meta {
    font-size: .8em;
}

.form-item {
    width: 100%;
    display: flex;
}

.label-text {
    margin-right: 5pt;
}

.form-item input {
    flex: 1;
}

.tag {
    width: 100%
}

.nav li {
    display: inline-block;
    padding-right: 2ch;
    line-height: normal;
}

.nav {
    background-color: #f2f2f2;
    margin-top: 0;
    padding-top: 1px;
    padding-bottom: 1px;

    /* margin-left: auto; */
    /* margin-right: auto; */
    /* max-width: 90ch; */
}
